<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>常用工具与方法</string>
		<key>Function</key>
		<array>
			<string>二维码生成与读取</string>
			<string>获取通讯录信息</string>
			<string>JS与OC交互</string>
			<string>数据处理</string>
			<string>关于runtime</string>
			<string>系统功能</string>
			<string>11位手机号码334显示</string>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>常用控件与自定义UI</string>
		<key>Function</key>
		<array>
			<string>使用xib自定义view</string>
			<string>绘图</string>
			<string>可点击字符串</string>
			<string>试图的自适应</string>
			<string>自定义异型UITabBarController</string>
			<string>处理UITableView键盘收起</string>
			<string>横竖屏处理</string>
		</array>
	</dict>
</array>
</plist>
